{{- $host := ternary (eq .Env "ai") (printf "dev-%d.%s" .Slot (index .BaseDomain "ai")) (index .BaseDomain .Env) -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: project-example-config
  namespace: {{ .Namespace }}
data:
  HOST: "{{ $host }}"
  STAGE: "{{ .Env }}"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: redis-config
  namespace: {{ .Namespace }}
data:
  REDIS_DB: "0"
  REDIS_HOST: "redis"
  REDIS_PORT: "6379"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: db-config
  namespace: {{ .Namespace }}
data:
  POSTGRES_DB: "chat"
  POSTGRES_HOST: "postgres"
  POSTGRES_PORT: "5432"

