apiVersion: v1
kind: Secret
metadata:
  name: crypto-secret
  namespace: {{ .Namespace }}
type: Opaque
stringData:
  SECRET_KEY: '{{ envOr "SECRET_KEY" "" }}'
---
apiVersion: v1
kind: Secret
metadata:
  name: db-secret
  namespace: {{ .Namespace }}
type: Opaque
stringData:
  POSTGRES_USER: '{{ envOr "POSTGRES_USER" "chat" }}'
  POSTGRES_PASSWORD: '{{ envOr "POSTGRES_PASSWORD" "chat" }}'
---
apiVersion: v1
kind: Secret
metadata:
  name: redis-secret
  namespace: {{ .Namespace }}
type: Opaque
stringData:
  REDIS_PASSWORD: '{{ envOr "REDIS_PASSWORD" "chat" }}'
---
apiVersion: v1
kind: Secret
metadata:
  name: openai-secret
  namespace: {{ .Namespace }}
type: Opaque
stringData:
  OPENAI_API_KEY: '{{ envOr "OPENAI_API_KEY" "" }}'
---
apiVersion: v1
kind: Secret
metadata:
  name: context7-secret
  namespace: {{ .Namespace }}
type: Opaque
stringData:
  CONTEXT7_API_KEY: '{{ envOr "CONTEXT7_API_KEY" "" }}'
---
apiVersion: v1
kind: Secret
metadata:
  name: github-secret
  namespace: {{ .Namespace }}
type: Opaque
stringData:
  CODEX_GH_PAT: '{{ envOr "CODEX_GH_PAT" "" }}'

